.list-item-content {
  width: 100%;
  display: flex;
  align-items: center;
  .item-category-circle {
    cursor: pointer;
    width: 16px;
    height: 16px;
    min-width: 16px;
    border-radius: 8px;
    margin-right: 16px;
  }
  .item-info {
    width: 100%;
    .item-money {
      display: block;
    }
    .item-category {
      display: block;
    }
    .item-date {
      display: flex;
      align-items: center;
      .date-text {
        margin-left: 8px;
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }
  }
}
.item-action-btn {
  padding: 0;
}
